<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	
    <%- include('./partials/header.ejs') %> 
	<!-- /header -->
	
	<div id="main_menu">
		<div class="container">
		<nav class="version_2">
				<div class="row">
					<!-- <div class="col-md-3">
						<h3>Home</h3>
						<ul>
							<li><a href="index.html">Home version 1</a></li>
							<li><a href="index-2.html">Home version 2</a></li>
							<li><a href="index-6.html">Home version 3</a></li>
							<li><a href="index-3.html">Home version 4</a></li>
							<li><a href="index-4.html">Home version 5</a></li>
							<li><a href="index-5.html">With Cookie bar (EU law)</a></li>
						</ul>
					</div> -->
					<div class="col-md-3">
						<h3>Courses</h3>
						<ul>
							<li><a href="/courses-grid">Courses grid sidebar</a></li>
							<li><a href="/courses-list">Courses list sidebar</a></li>
							<li><a href="/course-detail">Course detail</a></li>
							<li><a href="/admission">Admission wizard</a></li>
							<li><a href="/teacher-detail">Teacher detail</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Pages</h3>
						<ul>
							<li><a href="#0">Menu 1</a><span class="badge_info">New</span></li>
							<li><a href="/about">About</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
							<li><a href="/contacts">Contacts</a></li>
							<!-- <li><a href="404.html">404 page</a></li> -->
							<!-- <li><a href="agenda-calendar.html">Agenda Calendar</a></li> -->
							<li><a href="/faq">Faq</a></li>
							<li><a href="/help">Help</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h3>Extra pages</h3>
						<ul>
							<li><a href="/media-gallery">Media gallery</a></li>
							<li><a href="/cart-1">Cart page 1</a></li>
							<li><a href="/cart-2">Cart page 2</a></li>
							<li><a href="/cart-3">Cart page 3</a></li>
							<li><a href="/pricing-tables">Responsive pricing tables</a></li>
							<!-- <li><a href="coming_soon/index.html">Coming soon</a></li>
							<li><a href="icon-pack-1.html">Icon pack 1</a></li>
							<li><a href="icon-pack-2.html">Icon pack 2</a></li>
							<li><a href="icon-pack-3.html">Icon pack 3</a></li>
							<li><a href="icon-pack-4.html">Icon pack 4</a></li> -->
						</ul>
					</div>
				</div>
				<!-- /row -->
			</nav>
			<div class="follow_us">
				<ul>
					<li>Follow us</li>
					<li><a href="#0"><i class="ti-facebook"></i></a></li>
					<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
					<li><a href="#0"><i class="ti-google"></i></a></li>
					<li><a href="#0"><i class="ti-pinterest"></i></a></li>
					<li><a href="#0"><i class="ti-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /main_menu -->

    <%- body %> 
	
	<footer>
        <%- include('./partials/footer.ejs') %> 
	</footer>
	<!--/footer-->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_search"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<%- include('./partials/foot.ejs') %> 

</body>
</html>